<!-- Place the h1 title here -->
<% content_for :hero_head do %>
  <h1>Academic Programs</h1>
<% end %>

<!-- Place the lead content here, such as a description -->
<% content_for :hero_lead do %>
  <p class="lead">
    All of the academic programs (Areas of Concentration; AOCs).
    <% if !current_user.faculty? %>
    View an AOC to see your current course progress with respect to that AOC.
    <% end %>
  </p>
<% end %>

<!-- Place the corresponding actions here -->
<% content_for :hero_button_group do %>
  <% if current_user.faculty? %>
    <%= link_to "Create AOC", new_major_path, class: "btn btn-outline-primary" %>
  <% end %>
<% end %>

<!-- Place the main content here if using this hero system -->
<% content_for :content do %>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for AOCs.." title="Type in a Title">
  <p></p>
  <table class="table table-hover" id="myTable">
    <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Requirement Areas</th>
      <th>Courses</th>
    </tr>
    </thead>

    <tbody>
    <% @majors.each do |major| %>
      <tr>
        <td><%= link_to major.title, major_path(major) %></td>
        <td><%= major.requirements.count %> requirement <%= 'area'.pluralize %></td>
        <td><%= major.courses.count %> related <%= 'course'.pluralize %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <script>
      function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[0];
              if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                  } else {
                      tr[i].style.display = "none";
                  }
              }
          }
      }
  </script>
<% end %>
